/***** MAX-WIDTH: 640px *****/
@media (max-width: 640px) {
  .grid-box {
    display: block;
  }
}

/***** MAX-WIDTH: 384px *****/
@media (max-width: 384px) {
  .community h1 {
    font-size: 2.4rem;
  }

  .community h2 {
    font-size: 1.6rem;
  }

  .community p {
    font-size: 1.4rem;
  }
}
